body{
	background-image: url(../img/auditorio.jpg);
	background-size: cover;
}

.form{
	height: 100%;
	max-height: 100%;
	background: rgb(0, 0, 0, .4);
	margin-top: 2% !important;
	margin-bottom: 2% !important;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 50px 2px #000;
	-moz-box-shadow: 0px 0px 50px 2px #000;
	-ms-box-shadow: 0px 0px 50px 2px #000;
	-o-box-shadow: 0px 0px 50px 2px #000;
	box-shadow: 0px 0px 50px 2px #000;
}

.form2{
	background: rgb(0, 0, 0, .4);
	margin-top: 2% !important;
	margin-bottom: 2% !important;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 50px 2px #000;
	-moz-box-shadow: 0px 0px 50px 2px #000;
	-ms-box-shadow: 0px 0px 50px 2px #000;
	-o-box-shadow: 0px 0px 50px 2px #000;
	box-shadow: 0px 0px 50px 2px #000;
}

#cabecera{
	text-align: right !important;
}

.form .card{
	background: rgb(0, 0, 0, .4) !important;
	margin: 0px 0px;
    max-height: 570px;
    overflow-y: scroll;
}

.form2 .card{
    background: rgb(0, 0, 0, .4) !important;
	margin: 0px 0px;
}

.form .card-action, .form2 .card-action{
	background-color: #3582ff !important;
}

.form .card-action p, .form2 .card-action p{
    margin: 0px !important;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px !important;
	color: #FFF;
}

.form .card-content{
	padding: 12px 24px !important;
}

.form .card-content .cabecera{
	border-style: solid;
	border-radius: 25px;
	background: rgb(255, 255, 255, .7) !important;
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	padding: 10px;
}

.form2 .card-content #exito{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 5px;
}

.celdasTitulo{
	color: #FFF !important;
	background-color: #3582ff;
	font-family: 'Quicksand' !important, sans-serif;
    text-align: center;
    border-radius: 0px;
    padding: 5px;
}

.celdasInfo{
	color: #000;
	background-color: #FFF;
	font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 7px 5px;
}

.celdasInfo textarea{
	height: 30px !important;
	vertical-align: bottom;
}

.celdasInst{
	color: #000;
	background-color: #FFF;
	font-family: 'Quicksand', sans-serif;
    font-size: 11px;
}

.form input[type=text]{
	font-family: 'Nunito', sans-serif;
	font-size: 12px !important;
}

.form input[type=text]::placeholder{
	font-family: 'Nunito', sans-serif;
	font-size: 12px !important;
}

.form select{
	font-family: 'Quicksand', sans-serif;
	font-size: 12px !important;
	height: 40px;
}

.form .btn{
	background-color: #3582ff !important;
}

.form1{
	height: 100%;
	max-height: 100%;
	background: rgb(255, 255, 255);
	margin-top: 2% !important;
	margin-bottom: 2% !important;
	border-radius: 5px;
    padding: 5px 10px;
}

.form1 input[type=text]{
	font-family: 'Quicksand', sans-serif !important;
	font-size: 12px !important;
	color: #000;
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
    height: 20px !important;
    text-align: center;
}

.form1 tablitas{
    margin: 5px;
}

.form1 textarea{
    resize: none;
    font-family: 'Quicksand', sans-serif !important;
	font-size: 12px !important;
	color: #000;
    border-style: none;
    outline: none;
}