body{
	background-image: url(../img/inicio.jpg);
	background-size: cover;
}

.container .card{
    background: rgb(0, 0, 0, .4) !important;
	margin: 0px 0px;
}

.container .card-title{
    font-family: 'Quicksand', sans-serif;
    color: #FFF;
}

.container .card .instrucciones{
    border-style: solid;
	border-radius: 25px;
	background: rgb(255, 255, 255, .7) !important;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px !important;
	padding: 30px 50px 30px 50px;
    text-align: justify !important;
}