body{
	background-image: url(../img/inicio.jpg);
	background-size: cover;
}

.inicio .card{
	margin: 50px 25px;
}

.inicio .card span{
	font-family: 'Quicksand', sans-serif;
	color: #000 !important;
}

.inicio .card a{
	float: right;
	font-family: 'Arimo', sans-serif !important;
	font-weight: 400 !important;
	color: #F93939 !important;
}