body{
	background-image: url(../img/estadisticas.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.form{
	height: 100%;
	max-height: 100%;
	background: rgb(0, 0, 0, .4);
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 50px 2px #000;
	-moz-box-shadow: 0px 0px 50px 2px #000;
	-ms-box-shadow: 0px 0px 50px 2px #000;
	-o-box-shadow: 0px 0px 50px 2px #000;
	box-shadow: 0px 0px 50px 2px #000;
}

.form .card{
	background: rgb(0, 0, 0, .4) !important;
	margin: 0px 0px !important;
	max-height: 480px !important;
    overflow-y: scroll !important;
}

.form .card-action{
	background-color: #3582ff !important;
}

.form .card-action p{
    margin: 0px !important;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: #FFF;
}

.form .card .card-content{
	padding: 10px 24px !important;
}

.card-content table{
	background-color: #FFF;
}

.card-content table th{
	background-color: #F93939 !important;
	border-radius: 0px;
	color: #FFF;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
    text-align: center;
}

.card-content table td{
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
    padding: 10px;
}

.form label{
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	color: #FFF;
}

.form input[type=text]{
	font-family: 'Quicksand', sans-serif !important;
	font-size: 12px !important;
	color: #FFF !important;
    height: 40px;
}

.form input::-webkit-input-placeholder {
  	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	color: #CCC;
}

.form input::-moz-placeholder {
  	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	color: #FFF;
}

.btn{
	margin: 10px 10px;
	background-color: #3582ff !important;
}

#noMargin{
	margin-bottom: 0px !important;
}

canvas{
	width: 95%;
	height: 50%;
	margin: 10px 10px;
	background-color: #EEE;
	border-radius: 5px;
}

.form select{
	font-family: 'Quicksand', sans-serif;
	font-size: 12px !important;
	height: 40px;
}

.form1{
	height: 100%;
	max-height: 100%;
	background: rgb(255, 255, 255);
	margin-bottom: 2% !important;
	border-radius: 5px;
    padding: 5px 20px;
}

.form p{
    font-family: 'Quicksand', sans-serif;
	font-size: 14px;
}

.form1 .barra{
	background: #3582ff;
	background: -moz-linear-gradient(top, #3582ff 0%, #FFF 100%);
	background: -webkit-linear-gradient(top, #3582ff 0%,#FFF 100%);
	background: linear-gradient(to bottom, #3582ff 0%,#FFF 100%);
	clear: both;
	height: 20px;
	color: #000;
	font-family: 'Quicksand', sans-serif;
    font-size: 14px;
	text-align: right;
	padding: 2px;
	border-radius: 4px;
	min-width: 25px;
}

.form1 .derecho{
    text-align: center;
}