.form .card{
	background: rgb(0, 0, 0, .4) !important;
	margin: 0px 0px;
	max-height: 490px;
	overflow-y: scroll;
}

.form .card-action{
	background-color: #3582ff !important;
}

.form .card-action p{
    margin: 0px !important;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: #FFF;
}

.form .card-content p{
    font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #FFF;
    text-align: right;
    height: 40px;
    width: 280px;
}

.card-content table{
	background-color: #FFF;
}

.card-content table th{
	background-color: #F93939 !important;
	border-radius: 0px;
	color: #FFF;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
    text-align: center;
}

.card-content table td{
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
    padding: 10px;
}

.form select{
	font-family: 'Quicksand', sans-serif;
	font-size: 12px !important;
	height: 40px;
    width: 280px;
}

.form .card-content label{
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	color: #FFF;
}